@leftBarColor: #7bafab;

.leftBar {
  left:-40vw;

  .leftBarToggle {
    position: absolute;
    z-index: 900;
    @media screen and (orientation: portrait) {

      height: 50px;
      width: 50px;

    }
    @media screen and (orientation: landscape) {

      height: 25px;
      width: 25px;

    }



  }

  .shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 99;

  }

  .leftBarMain {

    position: absolute;
    z-index: 500;
    background: darken(@leftBarColor, 0%);
    height: 100%;
    width: 150px;
    overflow-x: visible;;
    left: -40vw;

    .leftBar_content {

      overflow-x: hidden;
      overflow-y: scroll;
      flex-flow: column;
      justify-content: flex-start;
      font-size: 25px;

    }


  }

}
