<div class="leftBar">
    <a href="" ng-click="toggle()" ng-show="!isBack"
        class="fBtn leftBarToggle">
        <div class="icons__menuBurger"></div>
    </a>
    <a href="" ng-show="isBack" ng-click="toggle()"
       class="fBtn leftBarToggle">
        <div class=""><</div>
    </a>

    <div class="shadow" ng-click="toggle()" ng-show="isOpen"></div>
    <div class="leftBarMain" ng-class="" ng-style="config.style" ng-show="isOpen">
        <div class="containerFlex leftBar_content">

            <a href="/filtersPage" class="fBtn">{{$root.t('foodApp.leftBar.filters')}}</a>
            <a href="/settingPage" class="fBtn">{{$root.t('foodApp.leftBar.setting')}}</a>
            <a href="/historyPage" class="fBtn">{{$root.t('foodApp.leftBar.history')}}</a>

        </div>
    </div>
</div>
