.icons__menuBurger{

  background: url('/src/images/icons/menu_burger.png') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;

  @media screen and (orientation: portrait) {

    height:100px;
    width:100px;

  }
  @media screen and (orientation: landscape) {

    height:50px;
    width:50px;

  }


}

.icons__menuVertical{

  background: url('/src/images/icons/menu_vertical.png') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;

  @media screen and (orientation: portrait) {

    height:100px;
    width:100px;

  }
  @media screen and (orientation: landscape) {

    height:50px;
    width:50px;

  }


}

.icons__takeMyMoney{

  background: url('/src/images/icons/money.png') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;

  @media screen and (orientation: portrait) {

    height:200px;
    width:200px;

  }
  @media screen and (orientation: landscape) {

    height:50px;
    width:50px;

  }


}

.icons__cook{

  background: url('/src/images/icons/cook.png') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;

  @media screen and (orientation: portrait) {

    height:200px;
    width:200px;

  }
  @media screen and (orientation: landscape) {

    height:50px;
    width:50px;

  }


}

.icons__dice{

  background: url('/src/images/icons/dice.png') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;

  @media screen and (orientation: portrait) {

    height:200px;
    width:200px;

  }
  @media screen and (orientation: landscape) {

    height:70px;
    width:70px;

  }


}