<div class="row plus-btn" >
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn" ng-click="vm.plusbarOpen()">
  <div class="fa fa-times-circle fa-2x"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn">
  <div class="fa fa-star fa-2x"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn">
  <div class="fa fa-check-square-o fa-2x"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn">
  <div class="fa fa-info-circle fa-2x"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn">
  <div class="fa fa-ban fa-2x"></div>
</div>
</div>
