<div class="container moveAnimation">

    <div class="containerFlex">

        <div class="mainView">

            <div class="wallpaper">

                <div class="header">
                    <div class="headerItem blank"></div>

                    <div class="headerItem foodName">Some food</div>
                    <div class="headerItem fBtn" href="">
                        <div class="icons__menuVertical"></div>
                    </div>
                </div>

                <food-description config="CONFIG.descriptionDirective"></food-description>

            </div>

            <div class="mainButtonsContainer">

                <div class="goButtonsContainer">
                    <a class="goButtons fBtn" href="#/whereBuy" ng-click="">where buy?
                        <div class="icons__takeMyMoney"></div>
                    </a>
                    <a class="goButtons fBtn" href="#/howMake" ng-click="">how make?
                        <div class="icons__cook"></div>
                    </a>
                </div>

                <a class="randomButton fBtn" href="" ng-click="">something else
                    <div class="icons__dice freak"></div>
                </a>
            </div>

        </div>

    </div>
</div>
