.foodDescription{

  font-family: Arial, sans-serif;
  font-style: italic;
  .bg-transparent(@headerAndDescription, @headerAndDescription_opacity);
  font-size: 2.7vh;
  padding: 10px;
  text-transform: none;
  box-sizing: border-box;

  overflow: hidden;
  //overflow-x: hidden;
  //overflow-y: scroll;
  //height: 200px;

  .ellipsis {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .ReadMore {

    float: right;
    overflow: hidden;
    color: #dceaf0;

  }

}

