<div class="mainView">

    <div class="wallpaper">


        <div class="header">
            <!--TODO fix click its just 4 dev-->
            <a class="headerItem  fBtn" href="" ng-click="$root.leftBarOpen()">
                <div class="icons__menuBurger"></div>
            </a>

            <div class="headerItem foodName">{{vm.foodName}}</div>
            <div class="headerItem fBtn" href="">
                <div class="icons__menuVertical"></div>
            </div>
        </div>

        <food-description></food-description>

    </div>

    <div class="mainButtonsContainer">

        <div class="goButtonsContainer">
            <a class="goButtons fBtn" href="" ng-click="vm.whereBuy()">change lang
                <div class="icons__takeMyMoney"></div>
            </a>
            <a class="goButtons fBtn" href="" ng-click="vm.howMake()">how make?
                <div class="icons__cook"></div>
            </a>
        </div>

        <a class="randomButton fBtn" href="" ng-click="vm.random()">something else
            <div class="icons__dice freak"></div>
        </a>
    </div>

</div>
