<div class="col-md-12 footer-btn-container">
  <div class="row max-height">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn max-height footer-btn">
      <div class="fa fa-random fa-5x"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn max-height footer-btn" ng-if="vm.buyOrder">
      <div class="fa fa-shopping-cart fa-5x"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn max-height footer-btn" ng-if="!vm.buyOrder">
      <div class="fa fa-cutlery fa-5x"></div>
    </div>
  </div>
</div>
