html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family:"castIron", sans-serif;

}

@font-face {
  font-family: castIron;
  src: url('/src/fonts/CastIron-Condensed.otf');
}